body {
    font-family: sans-serif;
}
a {
   font-size: 35px;
   text-decoration: none; 
}
header h1{
    color: olive;
    margin-right: 400px;

}
img {
    width: 100px;
    height: 100px;
    
    
    
}
main p {
    font-size: 20px;
}

    

header {
    background-color: orange;
    padding: 10px;
    border-radius: 50px;

}
nav h1 {
    font-size: 30px;
    
    
}
